.rectangle {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50vh;

  p {
    padding: 20px;
  }
}

.bgBlue {
  background-color: red;
}

p {
  font-size: 30px;
  font-weight: 700;
  color: white;
}
