.storybook-button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  border: 0;
  cursor: pointer;
  display: inline-block;
  /* line-height: 1; */
}

.storybook-button--primary {
  color: black;
  background-color: white;
  margin: 0;

  &:hover {
    color: white;
    background-color: black;
  }
  &:active {
    background-color: black;
    color: white;
  }

  &:focus {
    background-color: green;
    color: white;
  }
}

.storybook-button--secondary {
  color: black;
  background-color: white;
  margin: 0;

  &:hover {
    background-color: grey;
  }
  &:active {
    background-color: black;
    color: white;
  }

  &:focus {
    background-color: green;
    color: white;
  }
}

.storybook-button--small {
  font-size: 1px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
