.storybook-button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  border: 0;
  cursor: pointer;

  position: absolute;
  right: 0;
  bottom: 50vh;
  margin: 0;
}

.storybook-button--primary {
  color: white;
  background-color: #1ea7fd;

  :hover {
    color: black;
    background-color: grey;
  }
}

// .storybook-button--primary:hover {
//   color: black;
//   background-color: grey;
// }

.storybook-button--small {
  font-size: 10px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
