.board {
  button {
    position: absolute;
    right: 0;
    bottom: 50vh;

    display: flex;

    &:hover {
      background-color: red;
      color: white;
    }

    // &:active {
    //   background-color: black;
    //   color: white;
    // }

    &:focus {
      background-color: black;
      color: white;
    }
  }

  section {
    background-color: green;

    p {
      font-size: 30px;
      font-weight: 700;
      color: black;
    }
  }
}
