footer {

    display: flex;
    align-items: flex-end;
    gap: 30px;
    position : relative;
    top : 0vh; //AGGIUSTA
    background: rgb(235, 235, 235);

    p {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    }

}