footer {
  display: flex;
  align-items: flex-end;
  grid-gap: 20px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(235, 235, 235);

  p {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    margin-left: 20px;
  }
}
